@import './input';
@import './imgFlow';
@import './menu';
@import './header';

html
  display block
  height 100%

body
  display block
  position relative
  width 100%
  min-height 100%
  overflow-y scroll

button
  background transparent
  border none
  padding 0
  outline none
