.px-search
  position relative
  width 100vw
  min-height 100vh
  background white
  box-sizing border-box
  overflow hidden scroll
  padding 0 12px
  padding-top 72px
  .px-input__inner
    border 1px solid $primary
